body {
  background-color: #595959;
  background-image: url('images/background.png');
}

.rounded-corners {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

#main-container {
}

#calc-view {
  width: 400px;
  margin: auto;

  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;

  background-color: #f2f2f2;

  padding: 20px;

  text-align: center;

  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F2F2F2));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%);
}