<div id="calc-view" class="rounded-corners">
  <form class="form-horizontal">
    {{view App.ExpressionTextField class="input-xlarge"
      placeholder="Enter postfix notation expression..."
      valueBinding="App.calcController.expression"
    }}
    <button class="btn btn-primary" {{action "solveExpression" target="App.calcController"}}>Solve</button>
  </form>
  <h1>{{App.calcController.solution}}</h1>
  {{#if App.calcController.length}}
    <hr>
    Steps:<br/><br/>
    {{#each App.calcController}}
      {{code this}}<br/>
    {{/each}}
  {{/if}}
</div>
