<div id="calc-view" class="rounded-corners">
  <form class="form-horizontal">
    {{view Ember.TextField class="input-xlarge"
      placeholderBinding="Enter expression here"
      valueBinding="App.calcController.expression"
    }}
    <button class="btn btn-primary" {{action "solveExpression" target="App.calcController"}}>Solve</button>
  </form>
  <h1>{{App.calcController.solution}}</h1>
  <hr>
  Steps:<br/><br/>
  {{#each App.calcController}}
    {{code this}}<br/>
  {{/each}}
</div>
