<div class="navbar">
  <div class="navbar-inner">
    <span class="brand">Postfix Calculator</span>
    <ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li>
        <a href="https://github.com/xoqem/PostfixNotation">
          Source Code
        </a>
      </li>
    </ul>
  </div>
</div>
